<div class="panel panel-default">
    <div class="panel-body">
        <p>
            Street Maintenance API contains data from the <a href='http://www.kuntec.fi/'>Kuntec</a> street maintenance vehicles.
            API source code is available from <a href='https://github.com/City-of-Turku/street-maintenance-api'>Github</a>. 
            <a href='https://github.com/City-of-Helsinki/aura/wiki/API'>Event codes</a> are same as at Helsinki.</p>
            
            <p><em>The API is in development phase.</em> To help improve the API, please don’t hesitate to
            <a href="mailto:avoindata@turku.fi">comment, give feedback or make suggestions</a>.
        </p>
    </div>
</div>

<h2 id="usage-instructions">Usage instructions</h2>
<p>Use the browsable version of the API at the bottom of this
page to explore the data in your browser.</p>
<h2 id="browsable-api">Browsable API</h2>